/***** RESET *****/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	/*font-size: 100%;
	vertical-align: baseline;*/
	
}
html, body {height:100%;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;} /* tables still need 'cellspacing="0"' in the markup */
textarea {overflow:auto;}
/***** RESET *****/


/*Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
In egestas dapibus nunc sed consequat. 
Duis nec purus mi. Maecenas faucibus arcu id ligula pharetra, et interdum turpis commodo. 
Pellentesque rhoncus sagittis justo. Vivamus venenatis quam vel dolor suscipit condimentum. 
Quisque sit amet lectus et dui euismod convallis quis sed leo. Quisque elementum nisi massa, ut egestas tellus convallis eget. 
Fusce tortor ligula, pharetra nec augue id, blandit porta lacus. Donec imperdiet nisi ex, sed facilisis massa mattis non. 
Vivamus eu orci eget magna hendrerit efficitur. Etiam eget turpis rutrum, commodo tortor non, ultricies orci. 
Aliquam bibendum sapien tellus. Curabitur egestas massa tortor. Vivamus iaculis enim eu purus pretium interdum.*/

body{
    font-family: 'Comfortaa', cursive;
}


p{
    line-height: 24px;
    font-size: 20px;
    letter-spacing: 0.9px;
    margin-top: 15px;
}

div#wrapper{
    width: 100%;
}

header{
    width: 100%;
    height: 100vh;
    background-image: url(images/header\ \(6\).jpg);
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}


header h1{
    text-align: center;
}

#menu{
    width: 50px;
    height: 50px;
    background-image: url(images/iconfinder_menu_4092560.png);
    background-position:  center center;
    background-size: cover;
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
}

nav {
    width: 100%;
    height: 100vh;
    background-color: wheat;
    position: absolute;
    display: none;
}

nav ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

nav ul li {
    margin-top: 20px;
}

nav ul li a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    transition-duration: 0.3s;
}

nav ul li a:hover{
    text-decoration: underline;
}

/*HEADER ALANI BURADA BİTTİ*/


div#kapsayici1{
    width: 100%;
    padding:20px;
    box-sizing: border-box;
    margin-top: 10%;
}

div#kapsayici1 h2{
    text-align: center;
}

div#kapsayici1 article{
    width: 100%;
    border: 0px solid;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

div#kapsayici1 article section{
    flex-basis: 230px;
    flex-grow: 1;
    margin: 10px;
}

div#kapsayici1 article section img{
    width: 100%;
    border-radius: 5px;
}


/*1. BÖLÜM BURADA BİTTİ*/


div#kapsayici2{
    width: 100%;
    padding:20px;
    box-sizing: border-box;
    margin-top: 10%;
}

div#kapsayici2 h2{
    text-align: center;
}

div#kapsayici2 article{
    width: 100%;
    border: 0px solid;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 3%;
}

div#kapsayici2 article section{
    flex-basis: 230px;
    flex-grow: 1;
    margin: 10px;
}

div#kapsayici2 article section img{
    width: 100%;
    border-radius: 5px;
}



div#kapsayici3{
    width: 100%;
    padding:20px;
    box-sizing: border-box;
    margin-top: 10%;
}

div#kapsayici3 h2{
    text-align: center;
}

div#kapsayici3 article{
    width: 100%;
    border: 0px solid;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 3%;
}

div#kapsayici3 article section{
    flex-basis: 230px;
    flex-grow: 1;
    margin: 10px;
}

div#kapsayici3 article section img{
    width: 100%;
    border-radius: 5px;
}



div#kapsayici4{
    width: 100%;
    padding:20px;
    box-sizing: border-box;
    margin-top: 10%;
}

div#kapsayici4 h2{
    text-align: center;
}

div#kapsayici4 article{
    width: 100%;
    border: 0px solid;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 3%;
}

div#kapsayici4 article section{
    flex-basis: 230px;
    flex-grow: 1;
    margin: 10px;
}

div#kapsayici4 article section img{
    width: 100%;
    border-radius: 5px;
}


footer{
    width: 100%;
    padding: 20px;
    background-color: #6495ed;
    box-sizing: border-box;
    text-align: center;
    font-size: 20px;
    margin-top: 10%;
}

@media screen and (max-width: 550px){
    header h1{
        font-size: 24px;
    }

    h2{
        font-size: 20px;
    }

    h3{
        font-size: 20px;
    }

}